body {
    background-color: #cecece;
}
ol {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: white;
    background-color: #e990a9;
    margin: 15px;
    padding: 15px;
}
li {
    background-color: #d86284;
    padding: 8px 15px;
    margin: 12px 10px 10px 30px;
}
li::marker {
    background-color: #d86284;
}
span {
    background-color: #892d35;
    padding: 8px 22px 8px 22px;
    margin: 10px 10px 10px -14px;
}