* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 15px;
    margin-right: 15px;
}
dt {
    margin: 0px;
    font-style: italic;
}
p {
    margin: 8px 5px;
}
.pmargin {
    margin-left: 15px;
    margin-right: 15px;
}
.pale {
    color: #848484;
}
a {
    text-decoration: none;
    margin: 0;
}
span {
    font-weight: bold;
    margin: 0;
}